{% extends 'baseManager.html' %}
{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Employees at {{ name }}</h1>
                    <a class="btn btn-success" href="/management/addBranchEmployee/" role="button">Add Branch Employee</a>
                    <a class="btn btn-success" href="/management/addChauffeur/" role="button">Add Chauffeur</a>
                    <a class="btn btn-success" href="/management/addDamageExpert/" role="button">Add DamageExpert</a>
                </div>
            </div>
            {% for empl in employees %}
                {% if forloop.counter|divisibleby:"5" %}
                    <div class="row mt-4">
                                    <div class="col-sm">
                    <img style="text-align: center;" src="res/images/vehiclesImages/car1.jpeg" width="150" height="150"
                        alt="">
                    <p class="mt-2 m-1 "><b>Name: </b>{{ empl.2 }}</p>
                    <p class="m-1"><b>Job: </b> {{ empl.3}}</p>
                    <p class="m-1"><b>Salary: </b>{{ empl.1 }}</p>
                </div>
                    {% else %}
                                    <div class="col-sm">
                    <img style="text-align: center;" src="res/images/vehiclesImages/car1.jpeg" width="150" height="150"
                        alt="">
                    <p class="mt-2 m-1 "><b>Name: </b>{{ empl.2 }}</p>
                    <p class="m-1"><b>Job: </b> {{ empl.3}}</p>
                    <p class="m-1"><b>Salary: </b>{{ empl.1 }}</p>
                </div>
                {% endif %}

            {% endfor %}

{% endblock %}