{% extends 'baseManager.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="row" style="margin-bottom: 30px">
                <div class="col-sm-12">
                    <h1>Employees at {{ name }}</h1>
                    <a class="btn btn-success" href="/management/addBranchEmployee/" role="button">Add Branch Employee</a>
                    <a class="btn btn-success" href="/management/addChauffeur/" role="button">Add Chauffeur</a>
                    <a class="btn btn-success" href="/management/addDamageExpert/" role="button">Add DamageExpert</a>
                </div>
            </div>
            {% for empl in employees %}
                {% if forloop.counter|divisibleby:"5" %}
                    <div class="row mt-4">
                                    <div class="col-sm">
                    <img style="text-align: center;" src="{% static '147140.png' %}" width="150" height="150"
                        alt="">
                    <p class="mt-2 m-1 "><b>Name: </b>{{ empl.2 }}</p>
                    <p class="m-1"><b>Job: </b> {{ empl.3}}</p>
                    <p class="m-1"><b>Salary: </b>{{ empl.1 }}</p>
                     <button type="button" value='{{ empl.0 }}' class="btn btn-outline-danger">Fire employee</button>
                                    <input type="hidden" id='session' value="{{ request.session.logged_in_user }}">
                </div>
                    {% else %}
                                    <div class="col-sm">
                    <img style="text-align: center;" src="{% static '147140.png' %}" width="150" height="150"
                        alt="">
                    <p class="mt-2 m-1 "><b>Name: </b>{{ empl.2 }}</p>
                    <p class="m-1"><b>Job: </b> {{ empl.3}}</p>
                    <p class="m-1"><b>Salary: </b>{{ empl.1 }}</p>
                                     <button type="button" value='{{ empl.0 }}' class="btn btn-outline-danger">Fire employee</button>
                                    <input type="hidden" id='session' value="{{ request.session.logged_in_user }}">
                </div>
                {% endif %}

            {% endfor %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script>

    $(".btn-outline-danger").on("click", function () {
      var employee = $(this).val();
      var logged_in = $('#session').val();

      $.ajax({
        url: '/management/ajax/fireEmployee',
        data: {
          'employee': employee,
            'manager': logged_in,
        },
        dataType: 'json',
          beforeSend:function(){
         return confirm("Are you sure to fire this employee?");
      },
        success: function (data) {
          if(data['fired']){
              alert('succesfully fired your employee');
              location.reload();
          }
          else{
              alert('could not fire your employee');
          }
        }
      });

    });
  </script>
{% endblock %}