{% extends 'baseEmployee.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Vehicles at {{ branch_name }}</h1>
                    <form class="form-inline" role="form" action="{% url 'manager:filter-vehicle' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="sr-only" for="name">Enter License Plate</label>
                            <input name="license" type="text" class="form-control" id="name" placeholder="License Plate">
                            <input type="hidden" value="{{ vehicles }}" id="vehicles">
                        </div>
                    <select name='age-vehicle' class="custom-select my-1 mr-sm-2" id="car-age">
                        <option value="-1">Age</option>
                        <option value="0">0-5</option>
                        <option value="6">6-10</option>
                        <option value="11">11-15</option>
                        <option value="16">15-20</option>
                        <option value="21">More than 20</option>
                    </select>
                    <select name='model-vehicle' class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                        <option value="empty" selected>Model</option>
                        {% for model in models %}
                            <option value={{ model }}>{{ model }}</option>
                        {% endfor %}
                    </select>
                    <select name="kilometers" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                        <option selected value="-1">Kilometers</option>
                        <option value="0">0-5000</option>
                        <option value="5000">5000-10000</option>
                        <option value="10000">10000-20000</option>
                         <option value="20000">20000-40000</option>
                         <option value="40000">40000-more</option>
                    </select>
                    <select name='brand' class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                        <option value="empty" selected>Brand</option>
                         {% for brand in brands %}
                            <option value={{ brand }}>{{ brand }}</option>
                        {% endfor %}
                    </select>
                    <br>
                      <label class="sr-only" for="name">Enter Lowest Price</label>
                    <input name="lowest" type="number" class="form-control" value="0" min="0">
                     <label class="sr-only" for="name">Enter Highest Price</label>
                     <input name="highest" type="number" class="form-control" value="0" min="0">
                        <button style="margin:15px" type="submit" class="btn btn-success">Submit</button>
                    </form>
                </div>
            </div>
           {% for car in vehicles %}
                {% if forloop.counter|divisibleby:"5" %}
                    <div class="row mt-4">
                                    <div class="col-sm">
                    <img style="text-align: center;" src="{% static 'car1.jpeg' %}" width="150" height="150"
                        alt="">
                    <p class="mt-2 m-1 "><b>Plate: </b>{{ car.0 }}</p>
                    <p class="m-1"><b>Daily Price: </b> {{ car.2}}</p>
                    <p class="m-1"><b>Model: </b>{{ car.3 }}</p>
                    <p class="m-1"><b>Age: </b>{{ car.6 }}</p>
                    <p class="m-1"><b>Kilometers: </b>{{ car.7 }}</p>
                    <p class="m-1"><b>Price: </b>{{ car.5 }}</p>
                </div>
                    {% else %}
                                    <div class="col-sm">
                    <img style="text-align: center;" src="{% static 'car2.jpeg' %}" width="150" height="150"
                        alt="">
                    <p class="mt-2 m-1 "><b>Plate: </b>{{ car.0 }}</p>
                    <p class="m-1"><b>Daily Price: </b> {{ car.2}}</p>
                    <p class="m-1"><b>Model: </b>{{ car.3 }}</p>
                    <p class="m-1"><b>Age: </b>{{ car.6 }}</p>
                    <p class="m-1"><b>Kilometers: </b>{{ car.7 }}</p>
                    <p class="m-1"><b>Price: </b>{{ car.5 }}</p>
                </div>
                {% endif %}

            {% endfor %}
            </div></div></div>
{% endblock %}