{% extends 'customerbase.html' %}
{% block content %}
{% if request.session.user_type == 'customer' %}
<div class="container">
    <div class="row mt-5">
       <h1> Vehicles that you can rent.</h1>
        <table>
            {% for vehicle in vehicles %}
            {% if forloop.counter0|divisibleby:4 %}
            <tr>
                {% endif %}
                <td>
                    <p class="mt-2 m-1"><b>Plate: </b> {{vehicle.1}}</p>
                    <p class="m-1"><b>Status: </b> {{vehicle.2}}</p>
                    <p class="m-1"><b>Daily Price: </b> {{vehicle.3}}</p>
                    <p class="m-1"><b>Age: </b>{{vehicle.7}}</p>
                    <p class="m-1"><b>Kilometers: </b>{{vehicle.8}} km</p>
                    <p class="m-1"><b>Brand: </b>{{vehicle.5}}</p>
                    <p class="m-1"><b>Model: </b>{{vehicle.4}}</p>
                    <p class="m-1"><b>Branch: </b>{{vehicle.12}}</p>
                    <form action="{% url 'customer:customer_dashboard' %}" method='post'>
                        {% csrf_token %}
                        <input type='hidden' name="plate" value="{{ vehicle.1 }}"/>
                        <button type="submit" class="btn btn-success">Rent</button>
                    </form>
                </td>
                {% if forloop.counter|divisibleby:4 or forloop.last %}
            </tr>
            {% endif %}
            {% endfor %}
            </tr>
        </table>
        <div class="row" style="margin: 30px">
            <div class="col-lg">
                <table class="table">
              <thead>
               Your information about related branches
                <tr>
                  <th scope="col">Branch Name</th>
                    <th scope="col">Number of Reservations</th>
                  <th scope="col">Your Rating for Branch</th>
                    <th scope="col"> Your average expense on branch</th>
                </tr>
              </thead>
              <tbody>
              {% for value in info %}
                  <tr>
                  <th scope="row">{{ value.0 }}</th>
                  <td>{{ value.1 }}</td>
                  <td>{{ value.2 }}</td>
                  <td>{{ value.3 }}</td>
                </tr>
              {% endfor %}

              </tbody>
            </table>

            </div>
          </div></div>
    </div>
</div>
{% endif %}
{% endblock %}
