{% extends 'base.html' %}

{% block content %}
    <div class="container">
    <div class="row mt-5">
            <div class="col-3"></div>
            <div class="col-6">
                <h1 style="text-align: center;font-size: 20px;" class="display-1" >Damage Expert Register Page</h1>
            <form action="{% url 'damageexpert-register' %}" method="post">
            {% csrf_token %}

                {%for field in form %}
                <div class="control-group {%if field.errors %}error{%endif%}">
                <label>{{ field.label_tag }}</label>
                {{ field }}
                </div>
                {% endfor %}
            <input type="submit" class='btn btn-primary mt-3 btn-lg btn-block'value="Submit">
            </form></div>
                <div class="col-3"></div>

    </div>
{% endblock %}

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->

