{% extends 'baseEmployee.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="row">
                <div class="col-sm-12">
                    <input type="hidden" id='session' value="{{ request.session.logged_in_user }}">
                    <h1>Reservations at {{ branch_name }}</h1>
                </div>
                 <form class="form-inline" role="form" method="post" action="{% url 'employee:filter_customer_reservations' %}">
                        {% csrf_token %}
                    <select name='reservation-status' class="custom-select my-1 mr-sm-2" id="status">
                        <option value="empty">Choose a status</option>
                        <option value="not_paid">Not paid</option>
                        <option value="paid">Paid</option>
                        <option value="accepted">Accepted</option>
                        <option value="not_accepted">Not Accepted</option>
                        <option value="on_rent">Currently On Rent</option>
                    </select>
                     <br>
                     <label for="customer_name">Customer Name</label>
                     <input type="text" name="customer_name" id="customer_name">
                     <br>
                     <label for="start_date">Start Date</label>
                     <input type="date" name="start_date" id="start_date">
                     <label for="end_date">End Date</label>
                     <input type="date" name="end_date" id="end_date">
                     <button type="submit" > Filter</button>
                    </form>
            </div>
           <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-sm-12">
                <h3>Active Reservations</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Reservation Number</th>
                            <th scope="col">License Plate</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            <th scope="col">Status</th>
                            <th scope="col">Cost</th>
                            <th scope="col">Customer Name</th>
                            <th scope="col">Insurance Type</th>
                            <th scope="col">Chauffeur</th>
                            <th scope="col">Approve</th>
                            <th scope="col">Deny</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for res in reservations %}
                         <tr>
                            <th scope="row">{{ res.0 }}</th>
                            <td>{{ res.3 }}</td>
                            <td>{{ res.1 }}</td>
                            <td>{{ res.2 }}</td>
                            <td>{{ res.4 }}</td>
                            <td>{{ res.5 }} TL </td>
                            <td>{{ res.6}}</td>
                            <td>{{ res.7}}</td>
                             {% if res.8 == None %}
                                <td>No chauffeur</td>
                             {% else %}
                                 <td>{{ res.8 }}</td>
                             {% endif %}
                         {% if res.4 == 'not_accepted' %}
                            <td><button type="button" value='{{ res.0 }}' class="btn btn-outline-success">Approve</button></td>
                            <td><button type="button" value='{{ res.0 }}' class="btn btn-outline-danger">Deny</button></td>
                         {% endif %}
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
            </div></div></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script>
    console.log('script exectued');

    $(".btn-outline-success").on("click", function () {
      var reservationId = $(this).val();
      var logged_in = $('#session').val();

      $.ajax({
        url: '/employee/ajaxAcceptReservation',
        data: {
          'reservation_id': reservationId,
            'employee_id': logged_in,
        },
        dataType: 'json',
        success: function () {
              alert('you accepted the reservation');
              location.reload();
        }
      });

    });
  </script>
    <script>
    $(".btn-outline-danger").on("click", function () {
      var reservationId = $(this).val();
      var logged_in = $('#session').val();

      $.ajax({
        url: '/employee/ajaxDeclineReservation',
        data: {
          'reservation_id': reservationId,
            'employee_id': logged_in,
        },
        dataType: 'json',
        success: function () {
              alert('you declined the reservation');
              location.reload();
        }
      });

    });
    </script>
{% endblock %}