{% extends 'customerbase.html' %}
{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Your Reservations</h1>
                    <form class="form-inline" role="form" method="post" action="{% url 'customer:order_reservations' %}">
                    {% csrf_token %}
                        <select class="custom-select my-1 mr-sm-2" name='order-by' id="inlineFormCustomSelectPref">
                        <option selected>Order By</option>
                        <option value="1">Start Date</option>
                        <option value="2">Price</option>
                        <option value="3">End Date</option>
                    </select>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
            {% for reserve in reservations %}
                {% if forloop.counter|divisibleby:"5" %}
                    <div class="row mt-4">
                                    <p class="col-sm">
                    <p class="mt-2 m-1 "><b>Car: </b>{{ reserve.10 }}</p>
                    <p class="mt-2 m-1 "><b>Start Date: </b>{{ reserve.1 }}</p>
                    <p class="m-1"><b>End Date: </b> {{ reserve.2}}</p>
                    <p class="m-1"><b>Status: </b>
                        {% if reserve.3 == "not_accepted" %}
                            Not Accepted
                            {% else %}
                            Accepted
                            {% endif %}</p>
                    <p class="m-1"><b>Cost: </b>${{ reserve.4 }}</p>
                    <p class="m-1"><b>Chauffeur: </b>
                        {% if reserve.11  %}
                            {{ reserve.11 }}</p>
                            {% else %}
                            There is no chauffeur for this reservation</p>
                            {% endif %}
                </div>
                    {% else %}
                                    <div class="col-sm">
                    <p class="mt-2 m-1 "><b>Car: </b>{{ reserve.10 }}</p>
                    <p class="mt-2 m-1 "><b>Start Date: </b>{{ reserve.1 }}</p>
                    <p class="m-1"><b>End Date: </b> {{ reserve.2}}</p>
                    <p class="m-1"><b>Status: </b>
                        {% if reserve.3 == "not_accepted" %}
                            Not Accepted
                            {% else %}
                            Accepted
                            {% endif %}</p>
                    <p class="m-1"><b>Cost: </b>${{ reserve.4 }}</p>
                    <p class="m-1"><b>Chauffeur: </b>
                        {% if reserve.11  %}
                            {{ reserve.11 }}</p>
                            {% else %}
                            There is no chauffeur for this reservation</p>
                            {% endif %}
                </div>
                {% endif %}

            {% endfor %}
        </div></div>

{% endblock %}