{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-8">
                <img style="width: 80%; height: 80%;" src="/static/mainimge.png" alt=""
                     class="d-inline-block align-text-top">
            </div>
            <div class="col-4">
                <h1 class="display-1">Login</h1>
                <form action="{% url 'login_user' %}" method="post">
            {% csrf_token %}
                {{ form.as_p }}
            <input type="submit" class='btn btn-primary mt-3 btn-lg btn-block'value="Submit">
            </form>
                <br>
                <div>
                <ul>
                    Don't you have an account? Let's sign up.
                    <li>
                       <a href="{% url 'customer_register' %}">  Sign up as a customer </a>
                    </li>
                    <li>
                        <a href="{% url 'branchemployee-register' %}"> Sign up as an regular employee </a>
                    </li>
                    <li>
                       <a href="{% url 'chauffeur-register' %}">Sign up as a chauffeur</a>
                    </li>
                    <li>
                         <a href="{% url 'damageexpert-register' %}">Sign up as a damage expert</a>
                    </li>
                    <li>
                         <a href="{% url 'manager-register' %}">Sign up as a manager</a>
                    </li>
                </ul>
            </div></div>
           </div>
        </div>
    </div>
{% endblock %}