{% extends 'customerbase.html' %}
{% block content %}
{% if request.session.user_type == 'customer' %}
<div class="container">
    <div class="row mt-5">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <h4>{{ vehicle.0 }}</h4>
            <p class="m-1"><b>Daily Price: </b> {{ vehicle.2 }}$</p>
            <p class="m-1"><b>Age: </b>{{ vehicle.5 }}</p>
            <p class="m-1"><b>Kilometers: </b>{{ vehicle.6 }} km</p>
            <p class="m-1"><b>Model: </b>{{ vehicle.3 }}</p>
            <p class="m-1"><b>Car Rate: </b>*****</p>
            <form action="{% url 'customer:customer_make_res' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-success mt-3">Reserve</button>
            </form>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
{% endif %}
{% endblock %}



