{% extends 'baseManager.html' %}
{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Vehicles at Sale</h1>
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="sr-only" for="name">Enter License Plate</label>
                            <input type="text" class="form-control" id="name" placeholder="License Plate">
                        </div>
                    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                        <option selected>Age</option>
                        <option value="0">0-5</option>
                        <option value="5">5-10</option>
                        <option value="10">10-15</option>
                        <option value="15">15-More</option>
                    </select>
                    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                        <option selected>Model</option>
                        {% for mod in models %}
                            <option value="{{ mod }}">{{ mod }}</option>
                        {% endfor %}
                    </select>
                    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                        <option selected>Kilometers</option>
                        <option value="0">0-10000</option>
                        <option value="1">10000-20000</option>
                        <option value="2">20000-50000</option>
                        <option value="3">50000-100000</option>
                        <option value="4">100000-More</option>
                    </select>
                    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                        <option selected>Brand</option>
                        <option value="1">M</option>
                        <option value="2">A1</option>
                        <option value="3">B1</option>
                    </select>
                    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                        <option selected>Lowest Boundary Price</option>
                        <option value="1">M</option>
                        <option value="2">A1</option>
                        <option value="3">B1</option>
                    </select>
                    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                        <option selected>Highest Boundary Price</option>
                        <option value="1">M</option>
                        <option value="2">A1</option>
                        <option value="3">B1</option>
                    </select>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
            {% for car in vehicles %}
                {% if forloop.counter|divisibleby:"5" %}
                    <div class="row mt-4">
                                    <div class="col-sm">
                    <img style="text-align: center;" src="res/images/vehiclesImages/car1.jpeg" width="150" height="150"
                        alt="">
                    <p class="mt-2 m-1 "><b>Plate: </b>{{ car.0 }}</p>
                    <p class="m-1"><b>Model: </b>{{ car.3 }}</p>
                    <p class="m-1"><b>Age: </b>{{ car.5 }}</p>
                    <p class="m-1"><b>Kilometers: </b>{{ car.6 }}</p>
                    <p class="m-1"><b>Price: </b>{{ car.4 }}</p>
                    <button type="button"  value='{{ car.0 }}' class="btn btn-success" >Buy</button>
                                        <input type="hidden" id='session' value="{{ request.session.logged_in_user }}">

                </div>
                    {% else %}
                                    <div class="col-sm">
                    <img style="text-align: center;" src="res/images/vehiclesImages/car1.jpeg" width="150" height="150"
                        alt="">
                    <p class="mt-2 m-1 "><b>Plate: </b>{{ car.0 }}</p>
                    <p class="m-1"><b>Model: </b>{{ car.3 }}</p>
                    <p class="m-1"><b>Age: </b>{{ car.5 }}</p>
                    <p class="m-1"><b>Kilometers: </b>{{ car.6 }}</p>
                    <p class="m-1"><b>Price: </b>{{ car.4 }}</p>
                   <button type="button" value='{{ car.0 }}' class="btn btn-success">Buy</button>
                                    <input type="hidden" id='session' value="{{ request.session.logged_in_user }}">
                </div>
                {% endif %}

            {% endfor %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script>
    console.log('script exectued');

    $(".btn").on("click", function () {
      var buyedCar = $(this).val();
      var logged_in = $('#session').val();

      $.ajax({
        url: '/management/ajax/buyCar',
        data: {
          'car_plate': buyedCar,
            'manager_id': logged_in,
        },
        dataType: 'json',
        success: function (data) {
          if(data.can_buy){
              alert('succesfully bought');
              location.reload();
          }
          else{
              alert('you cannot afford this car');
          }
        }
      });

    });
  </script>

{% endblock %}
{% block scripts %}
{% endblock %}